@charset "UTF-8";
/* CSS Document */

/*top color nav bar*/
.header {
	background: #ffeecc;
	width: auto;
	height: 60px;
	margin: -15px;
}

nav {
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	width: 700px;
	margin: 0 auto;
	text-align: center;
	margin-top: auto;
	letter-spacing: 8px;
}

li { 
	color: black;
	list-style-type: none;
	display: inline-block;
	padding: 20px;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	color: white;
}

/*center business logo*/
.logo {
	margin-top: 40px;
	width: 175px;
}

/*images div css*/
.images {
	width: 800px;
	margin: 17em auto 0 auto;
	text-align: center;
}

#mission {
	font-family: 'Josefin Sans', sans-serif;
	margin: auto;
	text-align: center;
	width: 670px;
	line-height: 30px;
	padding: 2em 0 1em 0;
}

.blockleft {
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	letter-spacing: 8px;
	width: 398px;
	text-align: center;
	margin: 0 auto;
	background: #ffeecc;
	float: left;
}

.blockright {
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	letter-spacing: 8px;
	width: 398px;
	text-align: center;
	margin: 0 auto;
	background: #ffeecc;
}

/*main large image css*/
.main {
	width: 800px;
	margin: auto;
	align-content: center;
	display: block;
	margin-top: 17em;
}

hr {
	text-align: center;
	width: 800px;
    height: 2px;
    border: 0;
    border-top: 2px solid #c6ecc6;
    margin: 15px auto; 
}

/*color bar footer css*/	
.footer {
	background: #ffeecc;
	margin: -15px auto;
	height: 20em;
	margin-top: 6em;
	text-align: center;
}

#sign {
	font-family: 'Playfair Display', serif;
	margin: auto;
	text-align: center;
	width: 670px;
	padding: 2em 0 1em 0;
	padding-top: 5em;
	line-height: 30px;
	text-transform: uppercase;
	letter-spacing: 6px;
	font-size: 12px;
}

input[type=text] {
	height: 15px;
	background-color: white;
    color: black;
    border: none;
	width: 200px;
}

input[type=submit] {
	font-family: 'Josefin Sans', sans-serif;
	background-color: white;
	color: black;
    border: 1px solid black;
	padding: 10px 10px;
	text-transform: uppercase;
}

input[type=submit]:hover {
	font-family: 'Josefin Sans', sans-serif;
	background-color: #ffeecc;
	color: black;
    border: 1px solid black;
	padding: 10px 10px;
	text-transform: uppercase;
}

#details {
	font-family: 'Josefin Sans', sans-serif;
	color: black;
	margin: auto;
	text-align: center;
	width: 670px;
	padding: 2em 0 1em 0;
	line-height: 30px;
}

i {
	width: 50px;
	font-size: 2em;
}

#cite {
	font-family: 'Josefin Sans', sans-serif;
	color: black;
	margin: auto;
	text-align: center;
	width: 670px;
	padding: 2em 0 1em 0;
	line-height: 30px;
	font-size: 12px;
}

/*about page css*/

.content p {
	font-family: 'Josefin Sans', sans-serif;
	color: black;
	margin: auto;
	text-align: center;
	width: 800px;
	padding-top: 1em;
	line-height: 30px;
}

.content h1 {
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;	color: black;
	margin: auto;
	text-align: center;
	width: 800px;
	padding: 2em 0 1em 0;
	line-height: 30px;
	letter-spacing: 16px;
	font-size: 24px;
}