@charset "UTF-8";
/* CSS Document */

nav {
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
	width: 700px;
	margin: 0 auto;
	text-align: center;
	margin-top: 1em;
	letter-spacing: 8px;
}

li { 
	color: black;
	list-style-type: none;
	display: inline-block;
	padding: 20px;
}

a:link {
	color: black;
	text-decoration: none;
}